
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}
@using HRMSWithTheme.Models
@model EmployeeMaster
<h2 class="text-center">SignUp</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" src="~/Content/images/login.jpg" alt="Sign In Image" />
        </div>
        <div class="col-md-6 pt-5 mt-5">


            @using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                <div class="text-danger">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(x => x.Email, "Email", new { @class = "fw-bold" });
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" });
                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" });
                <br>
                @Html.LabelFor(x => x.Password, new { @class = "fw-bold" });
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @type = "password" });
                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" });
                <br>
                @Html.LabelFor(x => x.FirstName, new { @class = "fw-bold" });
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" });
                @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" }); 
                <br>
                @Html.LabelFor(x => x.LastName, new { @class = "fw-bold" })
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" });
                <br>
                @Html.LabelFor(x => x.BirthDate, new { @class = "fw-bold" })
                @Html.TextBoxFor(x => x.BirthDate, new { @class = "form-control", @type = "Date" })
                @Html.ValidationMessageFor(x => x.BirthDate, "", new { @class = "text-danger" });
                <br>
                @Html.LabelFor(x => x.Gender, new { @class = "fw-bold" })
                <br>
                @Html.RadioButtonFor(x => x.Gender, "Male", new { @class = "form-check-input" })
                @Html.Label("Male", new { @class = "form-check-label" })

                @Html.RadioButtonFor(x => x.Gender, "Female", new { @class = "form-check-input" })
                @Html.Label("Female", new { @class = "form-check-label" })

                @Html.RadioButtonFor(x => x.Gender, "Other", new { @class = "form-check-input" })
                @Html.Label("Other", new { @class = "form-check-label" })
                @Html.ValidationMessageFor(x => x.Gender, "", new { @class = "text-danger" });
                <br>
                <button class="btn btn-primary" type="submit">Sign Up</button>
                <br>
                <span>Already have an Account?<a href="@Url.Action("Login", "Account")"><p>Login</p></a></span>

            }

        </div>

    </div>
</div>

